@import "../../../assets/scss/variables";

logged-in-user-widget {
  display: block;
  margin-left: 30px;
  font-weight: normal;
  position: relative;
  cursor: pointer;

  &:empty {
    display: none;
  }

  > dropdown {
    display: flex;
    align-items: center;
  }

  .email {
    margin: 0 20px 0 10px;

    .dropdown-icon {
      position: absolute;
      top: 8px;
      right: -4px;
    }
  }

  .avatar {
    height: 40px;
    width: 40px;

    > img {
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }
  
  .mobile-toggle {
    display: none;
    
    > svg-icon {
      display: block;
    }
  }

  .dropdown-menu {
    top: 10px;

    .logout-item {
      border-top: 1px solid $border-color;

      > svg-icon {
        color: $danger-bg-color;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    .avatar, .email {
      display: none;
    }

    .mobile-toggle {
      display: block;
    }
  }
}