@import "../../../../../assets/scss/variables";

articles-list-filters {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $categories-page-item-bg-color;
  box-shadow: $box-shadow-2;
  position: relative;
  z-index: 1;

  > .filters-list {
    .panel {
      border: 1px solid $border-color;
      box-shadow: none;
      margin: 15px;

      > .panel-header {
        padding: 10px;
        font-weight: normal;
      }

      > .panel-body {
        max-height: 350px;
        overflow: auto;

        > .filter-button {
          min-width: 78px;

          &.active {
            background-color: $accent-color;
            color: $accent-text-color;
          }
        }
      }
    }
  }
}