<div class="spacing-container">
    <aside class="admin-pill-nav rounded">
        <a class="nav-item" routerLink="ticketing" routerLinkActive="selected"><div class="name" trans>Ticketing</div></a>
        <a class="nav-item" routerLink="help-center" routerLinkActive="selected"><div class="name" trans>Help Center</div></a>
        <a class="nav-item" routerLink="localization" routerLinkActive="selected"><div class="name" trans>Localization</div></a>
        <a class="nav-item" routerLink="search" routerLinkActive="selected"><div class="name" trans>Search</div></a>
        <a class="nav-item" routerLink="authentication" routerLinkActive="selected"><div class="name" trans>Authentication</div></a>
        <a class="nav-item" routerLink="mail" routerLinkActive="selected"><div class="name" trans>Mail</div></a>
        <a class="nav-item" routerLink="cache" routerLinkActive="selected"><div class="name" trans>Cache</div></a>
        <a class="nav-item" routerLink="realtime" routerLinkActive="selected"><div class="name" trans>Real Time</div></a>
        <a class="nav-item" routerLink="logging" routerLinkActive="selected"><div class="name" trans>Logging</div></a>
        <a class="nav-item" routerLink="queue" routerLinkActive="selected"><div class="name" trans>Queue</div></a>
        <a class="nav-item" routerLink="envato" routerLinkActive="selected"><div class="name">Envato</div></a>
    </aside>

    <div class="settings-panels-container">
        <router-outlet></router-outlet>
    </div>
</div>