@import "../../../../assets/scss/variables";

hc-header {
  display: block;

  .jumbotron {
    background-color: $primary-color-dark;
    background-position: center top;
    color: #fff;

    > customer-navbar {
      padding: 30px 0;

      > .navbar {
        background-color: transparent;
        box-shadow: none;
        height: 50px;

        .text-logo, .logo {
          border-right: none;
        }
      }
    }

    > .header {
      padding: $hc-header-padding;

      > .container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        > .button {
          display: block;
          flex: 0 0 30%;
          max-width: 240px;
          background-color: transparent;
          border: 3px solid #fff;
          line-height: $hc-search-bar-height - 6;
        }
      }

      .search-bar {
        flex: 1 1 auto;
        max-width: 850px;

        > .title {
          font-size: 5.2rem;
          font-weight: 300;
          margin: 0 0 8px;
          text-align: center;
        }

        > .subtitle {
          font-size: 2rem;
          font-weight: 300;
          margin-bottom: 25px;
          text-align: center;
        }

        input {
          box-shadow: $box-shadow-2;
        }
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    .jumbotron {
      .header {
        padding: 17px 5px 33px;
      }

      .title {
        display: none;
      }

      customer-navbar {
        padding: 10px 0;
      }
    }
  }
}